# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Entorno virtual
venv/
env/
ENV/

# Configuración local / secretos
instance/
*.env

# Logs y archivos temporales
*.log
*.tmp
*.bak

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db
